.nav-link {
  margin-left: 20px;
}

#supportHero {
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a {
  color: white;
  margin: 0 10px;
}

#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input {
  padding: 20px;
  width: 100%;
  font-size: 1.2rem;
  border: none;
  border-radius: 7px;
}
