<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <form action="/student/register" method="get">
      <button>Register</button>
    </form>
    <br />
    <br />
    <form action="/student/enrollment" method="get">
      <button>Enrollment</button>
    </form>
  </body>
</html>
