<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Individual feedback</title>
  </head>
  <body>
    <div class="feedbacks">
      <h3>user:<%= feedback.username %></h3>
      <h2>Feedback:<%= feedback.feedback %></h2>
      <h3>Rate:<%= feedback.rate %></h3>
      <h6>id: <%= feedback.id %></h6>
      <a href="http://localhost:8080/feedbacks">Show short</a>
    </div>
  </body>
</html>
