<% if(success && success.length > 0) {%>
<div
  class="alert alert-success alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <%= success %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %> <% if(deleting && deleting.length > 0) {%>
<div
  class="alert alert-warning alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <%= deleting %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %> <% if(updating && updating.length > 0) {%>
<div
  class="alert alert-primary alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <%= updating %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %> <% if(error && error.length > 0) {%>
<div
  class="alert alert-danger alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <%= error %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>
